body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
}

#controls {
  padding: 15px;
  background-color: black;
  display: flex;
}

#youtubeUrl {
  flex-grow: 1;
  font-size: 16px;
  padding: 8px;
  margin-right: 10px;
}

#playButton {
  cursor: pointer;
}

#stopButton {
  cursor: pointer;
}

#player {
  flex-grow: 1;
  background-color: #000;
}

input.input_1 {
  background-color: #212121;
  border: 2px solid #303030;
  border-radius: 6px;
  height: 42px;
  line-height: normal;
  color: white;
  display: block;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
}

button.btn_10 {
  display: inline-block;
  background-color: #222222;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #303030;
  color: white;
  padding: 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-size: 16px;
  height: 42px;
  margin-left: 5px;
  width: auto;
  white-space: nowrap;
}

button.btn_10:hover {
  background-color: #606060;
  color: #fff;
}

/* 履歴リストとinput欄のスタイル */
.input-wrapper {
  position: relative;
  width: 100%;
}

/* 履歴リスト */
#historyList {
  color: white;
  border: 1px solid #303030;
  border-radius: 6px;
  width: 100%;
  padding: 0;
  margin-top: 4px;
  list-style: none;
  background: #212121;
  position: absolute;
  top: 100%;
  z-index: 1000;
}

#historyList li {
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#historyList li:hover {
  background: #606060;
}

.hidden {
  display: none;
}